@import url(./variables.css);
@import url(../fonts/synonym/synonym.css);
@import url(../fonts/tanker/tanker.css);
@import url(../../components/navbar/navbar.css);
@import url(../../components/modal/modal.css);

body {
    background: linear-gradient(45deg, #184E68, #57CA85);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #fff;
}

h1 {
    font-family: 'Tanker', sans-serif;
    font-size: 2.5rem;
}
h2 {
    font-family: 'Synonym';
    font-size: 2rem;
}
h3 {
    font-family: 'Synonym';
    font-size: 1.5rem;
}


h1#FoodFusion {
    z-index: 999;
    margin: 0;
    padding-top: 1.8rem;
    padding-left: 1.8rem;
    position: sticky;
    top: 0;
}
h2#sideText {
    font-weight: 250;
    letter-spacing: .4rem;
    transform: rotate(-90deg);
    position: fixed;
    left: -17rem;
    top: 22rem;
}


#cardSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem 1rem 1rem 6.25rem;
}

.card {
    background-color: var(--glass-bg);
    backdrop-filter: blur(10px);
    margin: 1.3rem;
    border-radius: 10px;
    height: 14.3rem;
    width: 14.3rem;
}
.card img {
    max-width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card h3 {
    color: var(--text-dark);
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-weight: 300;
    background-color: var(--glass-bg);
    backdrop-filter: blur(10px);
    padding: 0.5rem;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
}
.card:hover h3 {
    display: block;
}
.card h3:hover {
    text-decoration: underline;
    text-decoration-thickness: .01rem;
    cursor: pointer;
}